body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  max-width: 1200px;
}

.center {
  margin: 0 auto;
}

.capitalize {
  text-transform: capitalize; 
}

.grey-panel {
  background: #f0f0f0;
  display: flex;
  padding: 10px;
}

.error {
  color: red;
  padding-left: 10px; 
}

.round-button {
  background: #dc3545;
  border-radius: 50%;
  padding: 10px 7px;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
  top: 8px;
}

.margin-right-5 {
  margin-right: 5px;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}


.table-user-information > tbody > tr > td {
  border-top: 0;
}

.table-user-information > tbody > tr:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.toppad {
  margin-top:20px;
}
